* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.mobile__container, .banner__container, .occasion__container, .we__container, .words__container, .join-us__container, .thinks__container, .footer__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    font-size: var(--font-size-three);
}

:root {
    --color-primary: #aaaaaa;
    --color-secondary: #3ea592;
    --color-third: #333333;
    --color-fourth: #ffffff;
    --color-fifth: #e0e0e0;
    --font-family-primary: 'Open Sans', sans-serif;
    --font-family-secondry: 'Lato', sans-serif;
    --background-color-primary: #aaaaaa;
    --background-color-secondry: #3ea592;
    --background-color-third: #050505;
    --background-color-fourth: #ffffff;
    --background-color-fifth: #e0e0e0;
    --background-color-sixth: #555555;
    --font-size-one: 20px;
    --font-size-two: 25px;
    --font-size-three: 40px;
    --font-size-four: 16px;
    --font-size-five: 14px;
    --font-size-six: 18px;
    --font-size-seven: 35px;
    --font-size-eight: 30px;
    --font-size-nine: 90px;
}

.nav__container {
    width: 100%;
    background-color: var(--background-color-fourth);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.nav__container-navbar {
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .nav__container-navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background-color: var(--background-color-fourth);
    }
}

#nav__logo {
    margin-left: 25px;
    margin-right: 25px;
    height: 40px;
    justify-self: start;
    cursor: pointer;
}

@media (max-width: 992px) {
    #nav__logo {
        margin: 0 20px;
        height: 30px;
    }
}

.nav__menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    justify-self: end;
    width: 50%;
}

.nav__menu-links {
    color: var(--color-secondary);
    text-decoration: none;
}

.nav__menu-links:hover {
    color: var(--color-primary);
    transition: all 0.2s ease-out;
}

.nav__toggle-bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--background-color-secondry);
}

@media screen and (max-width: 768px) {
    .nav-container {
        position: relative;
    }
    .nav__menu {
        display: none;
    }
    .aaa {
        display: grid;
        grid-template-columns: auto;
        background: var(--background-color-secondry);
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        padding-left: 0;
        transition: all 0.5s ease;
    }
    .nav__menu-links {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
        color: var(--color-third);
    }
    .nav__menu-item:nth-of-type(even) {
        background-color: var(--background-color-fourth);
    }
  
    .nav__menu-links:hover {
        background-color: var(--background-color-fifth);
        color: var(--color-fourth);
        transition: all 0.4s ease-out;
    }
    .nav__container-navbar {
        width: 100%;
    }
    #nav__toggle {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .nav__toggle-bar {
        display: block;
        cursor: pointer;
    }
    .nav__toggle:hover {
        cursor: pointer;
    }
    #nav__toggle .is-active .nav__toggle-bar:nth-child(2) {
        opacity: 0;
    }
    #nav__toggle.is-active .nav__toggle-bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #nav__toggle.is-active .nav__toggle-bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    #nav__toggle .is-active .nav__toggle-bar:nth-child(4) {
        opacity: 0;
    }
}

.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--color-fourth);
    padding: 150px 0;
    background-image: url("images/about_us/background_image.jpg");
    height: 100vh;
}

.banner__aplication {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.banner__aplication-headingOne, .banner__aplication-headingTwo, .banner__aplication-headingThree {
    color: var(--color-fourth);
    margin: 0;
    text-align: left;
}

.banner__aplication-headingOne {
    font-size: var(--font-size-nine);
    font-weight: bold;
    padding-top: 100px;
}

.banner__aplication-headingTwo {
    font-size: var(--font-size-three);
    font-weight: normal;
}

.banner__aplication-headingThree {
    font-size: var(--font-size-two);
    padding: 10px 0 0 0;
    font-weight: normal;
}

.banner__aplication-page {
    display: inline-block;
    font-size: var(--font-size-two);
    line-height: 38px;
    padding: 0;
    text-decoration: none;
    color: var(--color-fourth);
    font-style: italic;
    text-align: left;
}

.banner__aplication-headingThree::after {
    content: "";
    display: block;
    max-width: 350px;
    height: 1px;
    background-color: var(--background-color-fifth);
    margin: 30px 0;
    text-align: left;
}

@media screen and (max-width: 1200px) {
    .banner__aplication-headingOne, .banner__aplication-headingTwo, .banner__aplication-headingThree {
        margin-left: 40px;
    }
    .banner__aplication-page {
        margin-left: 40px;
    }
}

@media screen and (max-width: 992px) {
    .banner__aplication-headingOne, .banner__aplication-headingTwo, .banner__aplication-headingThree {
        margin-left: 40px;
    }
    .banner__aplication-page {
        margin-left: 40px;
    }
}

@media screen and (max-width: 768px) {
    section.banner {
        padding: 50px 0px;
    }
    .banner__aplication-headingOne {
        margin-top: 80px;
    }
    .banner__aplication-headingTwo {
        margin-top: 5px;
    }
    .banner__aplication-headingThree {
        margin-top: 0;
    }
    .banner__aplication-headingThree h3::after {
        margin: 15px 0;
        max-width: 200px;
    }
}

@media screen and (max-width: 360px) {
    section.banner {
        padding: 0;
    }
    .banner__aplication-headingOne {
        margin-top: 0;
    }
    .banner__aplication-headingTwo {
        margin-top: 5px;
    }
    .banner__aplication-headingThree {
        margin-top: 0;
    }
    .banner__aplication-headingThree h3::after {
        margin: 15px 0;
        max-width: 200px;
    }
}

.mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile__wrapper-headingTwo {
    color: var(--color-third);
    font-size: var(--font-size-three);
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    margin: 100px 0 0;
}

.mobile__wrapper-headingThree {
    color: var(--color-primary);
    font-size: var(--font-size-eight);
    font-weight: normal;
    text-align: center;
    margin-top: 0;
    line-height: 30px;
}

.mobile__wrapper-headingThree::after {
    content: "";
    display: block;
    max-width: 120px;
    height: 1px;
    background-color: var(--background-color-fifth);
    margin: 30px auto 0 auto;
    text-align: center;
}

.mobile__wrapper-paragraph {
    color: var(--color-primary);
    font-size: var(--font-size-two);
    font-weight: 200;
    text-align: left;
    letter-spacing: 1px;
    padding: 0 10px;
}

@media screen and (max-width: 768px) {
    .mobile__wrapper-paragraph {
        font-size: var(--font-size-one);
    }
}

@media screen and (max-width: 360px) {
    .mobile__wrapper-paragraph {
        font-size: var(--font-size-one);
        margin: 10px;
        padding: 60px 0 0;
    }
}

.mobile__telephone {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .mobile__telephone {
        flex-direction: column;
    }
}

.mobile__telephone-phone {
    height: 100%;
}

@media screen and (max-width: 768px) {
    .mobile__telephone-phone {
        padding: 30px;
    }
}

.mobile__telephone-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .mobile__telephone-items {
        font-size: var(--font-size-two);
        text-align: center;
    }
}

@media screen and (max-width: 360px) {
    .mobile__telephone-items {
        font-size: var(--font-size-one);
        margin: 10px;
    }
}

.mobile__telephone-headingTwo {
    padding: 0 20px;
    color: var(--color-secondary)
}

.mobile__telephone-paragraph {
    padding: 0 20px;
    color: var(--color-third)
}

.mobile__training {
    display: flex;
    flex: column;
}

.mobile__training-paragraph {
    color: var(--color-primary);
    font-size: var(--font-size-two);
    font-weight: 200;
    text-align: left;
    letter-spacing: 1px;
    padding: 0 10px;
}

@media screen and (max-width: 768px) {
    .mobile__training-paragraph {
        font-size: var(--font-size-one);
    }
}

@media screen and (max-width: 360px) {
    .mobile__training-paragraph {
        font-size: var(--font-size-one);
        margin: 10px;
        padding: 60px 10px 0;
    }
}

.occasion {
    display: flex;
    padding: 20px 0;
}

.occasion__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .occasion__wrapper {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.occasion__wrapper-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.occasion__wrapper-heading {
    font-size: var(--font-size-eight);
    text-align: center;
    color: var(--color-primary);
    padding: 20px 0;
    font-weight: 400;
}

.we {
    padding-top: 100px;
}

.we__life {
    margin: 0;
}

.we__life-headingTwo {
    color: var(--color-third);
    font-size: var(--font-size-seven);
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    margin-bottom: 0;
}

.we__life-headingThree {
    color: var(--color-primary);
    font-size: var(--font-size-eight);
    font-weight: normal;
    text-align: center;
    margin-top: 0;
    line-height: 30px;
}

.we__life-headingThree::after {
    content: "";
    display: block;
    max-width: 120px;
    height: 1px;
    background-color: var(--background-color-fifth);
    margin: 30px auto 10px auto;
    text-align: center;
}

.we__gallery {
    background-color: var(--background-color-fifth);
    position: relative;
    z-index: -3;
}

.we__gallery::before {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid var(--color-fourth);
    border-left: 50px solid transparent;
    transform: rotate(-45deg);
    top: -25px;
    left: 48%;
    z-index: -1;
}

.we__gallery-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}

.we__gallery-photo {
    background-color: var(--color-fourth);
    margin: 10px 0;
}

.we__gallery-photo::after {
    content: "";
    display: block;
    max-width: 300px;
    height: 5px;
    background-color: var(--color-secondary);
    text-align: center;
}

.we__gallery-photo h1 {
    font-weight: normal;
    font-size: var(--font-size-two);
    color: var(--color-third);
    text-align: left;
    margin-bottom: 0;
    margin-left: 20px;
}

.we__gallery-photo h2 {
    font-weight: normal;
    font-size: var(--font-size-one);
    color: var(--color-primary);
    text-align: left;
    margin-bottom: 20px;
    margin-left: 20px;
}

@media screen and (max-width: 1200px) {
    .we__gallery-wrapper {
        margin-left: 40px;
        margin-right: 40px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 992px) {
    .we__gallery-wrapper {
        margin-left: 40px;
        margin-right: 40px;
        justify-content: space-evenly;
    }
    .we__gallery-photo {
        transform: scale(1.2);
        margin-top: 60px;
        margin-bottom: 60px;
        background-color: var(--color-fourth);
    }
    .we__gallery-photo h1 {
        font-size: var(--font-size-six);
    }
    .we__gallery-photo h2 {
        font-size: var(--font-size-five);
    }
}

@media screen and (max-width: 768px) {
    .we__gallery-photo {
        transform: scale(1.2);
        margin: 60px 30px;
        background-color: var(--color-fourth);
    }
}

.words {
    color: var(--color-primary);
}

.words__training {
    padding: 0;
}

.words__training-paragraph {
    color: var(--color-primary);
    font-size: var(--font-size-two);
    font-weight: 200;
    text-align: left;
    padding: 80px 0 0;
}

@media screen and (max-width: 768px) {
    .words__training {
        color: var(--color-primary);
        font-size: var(--font-size-six);
        font-weight: normal;
        text-align: justify;
        margin: 50px 10px;
    }
    .words__training-paragraph {
        padding: 40px 0 0;
    }
}

@media screen and (max-width: 768px) {
    .words__training-paragraph {
        font-size: var(--font-size-one);
    }
}

@media screen and (max-width: 360px) {
    .words__training-paragraph {
        font-size: var(--font-size-one);
        margin: 10px;
        padding: 60px 0 0;
    }
}

.join-us__people {
    margin-bottom: 50px;
    margin-top: 100px;
    text-align: center;
}

.join-us__people-headingTwo {
    color: var(--color-third);
    font-size: var(--font-size-seven);
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    margin-bottom: 0;
}

.join-us__people-headingThree::after {
    content: "";
    display: block;
    max-width: 100px;
    height: 1px;
    background-color: var(--background-color-fifth);
    margin: 25px auto;
    text-align: center;
}

.join-us__people-headingThree {
    color: var(--color-primary);
    font-size: var(--font-size-eight);
    font-weight: normal;
    text-align: center;
    margin-top: 0;
    line-height: 30px;
}

.thinks {
    text-align: center;
    background-color: var(--color-secondary);
    margin: 0;
}

.thinks__sentence {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thinks__sentence-headingTwo {
    color: var(--color-fourth);
    font-size: var(--font-size-two);
    font-weight: 200;
    padding: 80px 0 0;
}

.thinks__sentence-headingTwo::after {
    content: "";
    display: block;
    max-width: 140px;
    height: 1px;
    background-color: var(--background-color-fifth);
    margin: 30px auto;
    text-align: center;
}

.thinks__sentence-paragraph {
    color: var(--color-fourth);
    font-size: var(--font-size-two);
    font-weight: 400;
    margin-top: 0;
    padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .thinks__sentence-headingTwo {
        font-size: var(--font-size-one);
    }
    .thinks__sentence-paragraph {
        font-size: var(--font-size-four);
    }
}

@media screen and (max-width: 360px) {
    .thinks__sentence-headingTwo {
        font-size: var(--font-size-one);
        margin: 10px;
        padding: 60px 0 0;
    }
    .thinks__sentence-paragraph {
        font-size: var(--font-size-one);
    }
}

.thinks__sentence-information {
    display: inline-block;
    font-size: var(--font-size-one);
    font-weight: bold;
    padding: 5px 20px;
    line-height: 50px;
    max-width: 400px;
    border: 1px solid white;
    color: var(--color-secondary);
    background-color: var(--background-color-fifth);
    text-decoration: none;
    margin-bottom: 80px;
    text-align: center;
    transition: all .4s ease;
}

@media screen and (max-width: 360px) {
    .thinks__sentence-information {
        max-width: 280px;
    }
}

.footer {
    background-color: var(--color-fourth);
}

.footer__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.footer__items-paragraph {
    color: var(--color-primary);
    text-align: left;
    font-size: var(--font-size-one);
    font-weight: 500;
}

.footer__items-card {
    text-align: right;
    color: var(--color-primary);
}

.footer__items-img {
    transform: scale(1.2);
}

.footer__items-arrow {
    margin-right: 350px;
}

@media screen and (max-width: 1200px) {
    .footer__items-paragraph {
        margin-left: 40px;
    }
    .footer__items-card {
        margin-right: 50px;
    }
    .footer__items-arrow {
        margin-right: 280px;
    }
}

@media screen and (max-width: 992px) {
    .footer__items-card {
        margin-right: 50px;
    }
    .footer__items-arrow {
        margin-right: 280px;
    }
}

@media screen and (max-width: 768px) {
    .footer__items {
        flex-wrap: wrap;
    }
    .footer__items-paragraph {
        font-size: var(--font-size-one);
        margin-left: 0;
    }
    .footer__items-arrow {
        margin-right: 0;
    }
}

@media screen and (max-width: 540px) {
    .footer__items {
        font-size: var(--font-size-six);
        justify-content: center;
    }
    .footer__items-card, .footer__items-arrow, .footer__items-paragraph {
        margin: 20px auto;
    }
}

@media screen and (max-width: 360px) {
    .footer__items {
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        font-size: var(--font-size-four);
    }
    .footer__items-card, .footer__items-arrow, .footer__items-paragraph {
        margin: 20px auto;
    }
    .footer__items-paragraph {
        text-align: center;
    }
}